.loading {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    border: .5rem solid var(--yellow);
    border-top-color: transparent;
    border-radius: 50%;
    animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}