.button {
    display: block;
    font-size: 1.6rem;
    border-radius: .8rem;
    border: none;
    padding: 1rem;
    text-align: center;
    cursor:pointer;
    transition: .2s;
}

.button:hover {
    transform: translateY(-4px)
}